:root {
  --main-text-color: #212121;
  --black-color-primary: #000000;
  --second-text-color: #757575;
  --white-primary-color: #ffffff;
  --accent-color: #2196f3;
  --typical-margin: 30px;
  --icon-gray-color: #afb1b8;
  --background-color: #f5f4fa;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;

  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;

  margin: 0 auto;
  color: var(--white-primary-color);
  background-color: var(--accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------- Header ---------- */

.container {
  width: 1200px;
  padding: 0 15px;
  /* padding-left: 15px;
  padding-right: 15px; */
  margin: 0 auto;
}

.header {
  /* padding-top: 24px;
  padding-bottom: 25px; */
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-mail,
.header-tel {
  padding: 10px;
}

.header-nav {
  padding-top: 32px;
  display: flex;
  align-items: center;
}

.header-second-list {
  display: flex;
  margin-left: auto;
}

.header-mail-tel:not(:last-child) {
  margin-right: 50px;
}

/* ---------- Header - icons ---------- */

.header-icons {
  display: inline-flex;
  margin-right: 10px;
  fill: currentColor;
}

.header-mail,
.header-tel {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------- */

.header-logo-color {
  color: var(--black-color-primary);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}

.header-link {
  display: block;
  position: relative;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  opacity: 0;
  background-color: var(--accent-color);
  border-radius: 2px;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover::after {
  opacity: 1;
}

.current::after {
  content: "";

  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  opacity: 1;

  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-item .header-link.current {
  color: var(--accent-color);
}

.header-mail:hover,
.header-mail:focus,
.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------- HERO ---------- */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  background: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-logo.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  max-width: 700px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-primary-color);
  margin: auto;
  margin-bottom: var(--typical-margin);
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  /* padding: 10px 32px; */
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ---------- Specialty ---------- */

.specialty {
  padding-top: 94px;
  padding-bottom: 94px;
}

.specialty-item {
  max-width: 270px;
}

.specialty-item:not(:last-child) {
  margin-right: var(--typical-margin);
}
/* ---------- Specialty - Icons ---------- */

.specialty-icons {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
  border-radius: 4px;
  margin-bottom: var(--typical-margin);
}

/* -------------------- */

.specialty-list {
  display: flex;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.specialty-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.specialty-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/* ---------- Our JOB ---------- */

.our-job {
  padding-top: -94px;
  padding-bottom: 94px;
}

.our-job-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 50px;
}

.our-job-list {
  display: flex;
}

.our-job-item:not(:last-child) {
  margin-right: var(--typical-margin);
}

.our-job-container {
  position: relative;
}

.our-job-text {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;

  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-primary-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* ---------- Our TEAM ---------- */

.team {
  background-color: var(--background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
}

.team-item {
  background-color: var(--white-primary-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item:not(:last-child) {
  margin-right: var(--typical-margin);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 50px;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 15px;
}

.container-buttom-team {
  padding: var(--typical-margin);
}

/* ---------- Team - icons ---------- */

.team-icons {
  display: flex;
  justify-content: center;
}

.team-icons-list {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.team-icons-list:last-child {
  margin-right: 0;
}

.team-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--white-primary-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons-item {
  fill: var(--icon-gray-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons-link:hover,
.team-icons-link:focus {
  background-color: var(--accent-color);
}

.team-icons-link:hover .team-icons-item,
.team-icons-link:focus .team-icons-item {
  fill: var(--white-primary-color);
}

/* ------------------- */

/* ---------- Clients ---------- */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: borber-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item {
  margin-right: var(--typical-margin);
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-icons {
  fill: var(--icon-gray-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.clients-link:hover .clients-icons,
.clients-link:focus .clients-icons {
  fill: var(--accent-color);
}

/* ---------- Footer ---------- */

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-all {
  align-items: baseline;
}

.footer-logo-color {
  color: var(--white-primary-color);
}

.footer .container {
  display: flex;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  display: inline-block;
  margin-bottom: 20px;
}

.fotter-address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-primary-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-mail-link,
.footer-tel-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.fotter-address-link:hover,
.footer-mail-link:hover,
.footer-tel-link:hover {
  color: var(--accent-color);
}

.fotter-address-link:focus,
.footer-mail-link:focus,
.footer-tel-link:focus {
  color: var(--accent-color);
}

.fotter-address-link,
.footer-mail-link,
.footer-tel-link {
  padding: 5px 0px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-first-container {
  display: block;
  margin-right: 70px;
}

/* ---------- Join ---------- */

.join {
  margin-right: 93px;
}

.join-icons {
  display: flex;
}

.join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-primary-color);
  margin-bottom: 20px;
}

.join-icons-list {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.join-icons-list:last-child {
  margin-right: 0;
}

.join-icons-link:hover,
.join-icons-link:focus {
  background-color: var(--accent-color);
}

.join-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-icons-item {
  fill: var(--white-primary-color);
}

/* ---------- Follow ---------- */

.follow {
  display: block;
  top: 12px;
  left: 93px;
}

.follow-form {
  display: flex;
}

.follow-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-primary-color);

  margin-bottom: 20px;
}

.follow-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--white-primary-color);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  height: 50px;
  display: flex;
  padding: 10px 28px;
}

.follow-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  margin-left: 16px;
}

.follow-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--white-primary-color);
}

.follow-btn:hover,
.follow-btn:focus {
  background-color: #188ce8;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ---------- Portfolio ---------- */

.portfolio-btn-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-btn-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.portfolio-btn:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn-item {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  cursor: pointer;
  background: var(--background-color);
  padding: 6px 22px;
  border-color: transparent;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn-item:hover,
.portfolio-btn-item:focus {
  color: var(--white-primary-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ---------- Portfolio list ---------- */

.portfolio-top-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  height: 100%;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--white-primary-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform 250ms linear;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-top-text {
  transform: translateY(0);
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list {
  margin-right: var(--typical-margin);
  margin-bottom: var(--typical-margin);
  max-width: 370px;
  background: var(--white-primary-color);
  position: relative;
}

.portfolio-list:nth-child(3n + 3) {
  margin-right: 0;
}

.portfolio-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.portfolio-container-list {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ---------- Model Window ---------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--white-primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms linear;
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;

  background-color: var(--white-primary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.icon-item {
  fill: var(--black-color-primary);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .icon-item {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1, 15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);

  margin-bottom: 12px;
}

.modal-input {
  display: block;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;

  margin-top: 4px;
  padding-left: 42px;
  outline: transparent;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-text:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--second-text-color);
}

.modal-fields {
  margin-bottom: 10px;
}

.modal-comment {
  margin-bottom: 20px;
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;
  margin-top: 4px;
  outline: transparent;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 30px;

  color: var(--second-text-color);
}

.check-text a {
  color: var(--accent-color);
}

.check-text span {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid #212121;
  border-radius: 2px;
}

.check-icon {
  fill: transparent;
  align-items: center;
  justify-content: center;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked + .check-text .check-icon {
  fill: var(--white-primary-color);
}

.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.modal-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
